@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "ttlakes";
  background-color: #f8f8f8;
}
button {
  border: none;
  background-color: #fff;
}
button:active {
  background-color: rgba(0, 255, 255, 0.194);
}
.header {
  color: #7e7e82;
  font-weight: 300;
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  padding: 16px 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.slider {
  margin-top: 8px;
  display: flex;
  overflow: scroll;
  overflow-x: scroll;
  padding-left: 16px;
  gap: 16px;
}

.slider::-webkit-scrollbar {
  display: none;
}
.slider__item {
  min-width: 240px;
  height: 72px;
  padding-left: 16px;
  box-sizing: border-box;
  display: flex;
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #eaeaea;
}

#more__item {
  display: flex;
  overflow: hidden;
  gap: 16px;
}
.item__button {
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item__go {
  margin-right: 16px;
}

.more__button {
  display: none;
}
